body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.data span{
  padding-right:20px;  
}
.data{
  display: block;
}

.w100{
  width: 90%;
}

.listVy{
  margin: 20px ;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;

  border-radius: 2px;
  border-style: ridge;
  box-shadow: 7px 13px rgb(155, 155, 155);
  display: flex;
  flex-direction: column;
}
.w200{
  margin: auto;
   width: 45%;
 }
 
label{
  display: block;
}
.statusMissing{
  background-color: red;
}
.statusSick{
  background-color: lightcoral;
}
.statusOk{
  background-color: lightgreen;
}
.statusOther{
  background-color: lightslategray;
}
